.reserve{
    width: 33%;
    display:none;
    // position: sticky;
}

.reserve-position{
    position: relative;
}

.reserve-container{
    top: 100px;
    position:sticky

}
.reserve-box{
    bottom: 20px;
    // position: relative;
    width: 90%;
    height: max-content;
    margin-left:auto;
    padding:24px;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    font-family: CerealBook;

}

.reserve-info {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: baseline ;
    padding-bottom: 28px;
}

.reserve-price {
    font-family: CerealBook;
    font-size: 20px;
    margin-left: 0px;
}

.reserve-price span{
    // width: 60.5%;
    margin-top: 7px;
    font-size: 14px;
    font-family: CerealLight;
}

.reserve-rate{
    display: flex;
    color: #717171;
    // margin-top: rem(9px);
    font-size: rem(14px);
    font-family: CerealLight;
    align-items: center;
}

.dotr{
    padding: 0px 2px;
    font-family: CerealMedium;
}

.reserve-reviews{
    text-decoration: underline;

}

.reserve-date-picker {
    display: flex;
}

.inout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    height: 112px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    font-family: CerealBold;
    font-size: .65rem;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.checkin, .checkout{
    border-bottom: 1px solid #b0b0b0;
}

.checkin {
    grid-column: 1;
    border-right: 1px solid #b0b0b0;
}

.checkout {
    grid-column: 2;
}

.add {
    color: #b0b0b0;
    font-size: 14px;
    font-family: CerealLight;
    
}

.guest{
    color: black;
}

.reserve-guests {
    grid-row: 2;
    grid-column: span 2;
}

.stay-label {
    color: #222;
}

.add, .stay-label {
    margin-left: 10px;
    margin-top: 5px;
}

.reserve-submit {
    margin: 15px 0 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    font-weight: 600;
    height: 48px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
}

.gradient {
    background: radial-gradient(circle at 9.5px 2.01562px, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);

}

.reserve-date-picker input{
    background: transparent;
    border:none;
    outline: none;
    width: 100px;
}



.reserve-box .css-1snvurg-MuiPickerStaticWrapper-root{
    position:absolute;
    top: 60px !important;
    right: -390px;
    width: 620px !important;
    z-index: 2 !important;
    height: 315px !important;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; 
}

.order-preview{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-align: center;
    font-size: .9rem;
}

// .order-preview small{
//     margin-bottom: 10px;
// }

.order-preview div{
    display: flex;
    justify-content: space-between;
}

.order-preview :first-child {
    margin-bottom: 10px;
}

.order-preview hr{
    background-color: rgba(185,183,183,.3137254901960784);
    border: none;
    margin: 0;
    height: 0.5px;
    width: 100%;
    
}

.order-preview div:last-of-type {
    margin-top: 10px;
    font-weight: 700;
}

.reserve-box .filter-guest-modal {
    top: 115px;
    left: 30px;
}

.un{
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
   .reserve{
       display: block;
   }
    
}