

.stay-info-container{
    padding: 40px 0px 24px;
    z-index: 0;
}

.summary-info {
    width: 60%;
}

.top-info {
    padding-bottom: 24px;
}

.top-info h2{
    margin: 0px;
    text-transform: capitalize;
    grid-column: 1;
    grid-row: 1;
    font-family: CerealLight;
}

.place-info {
    grid-column: 1;
    grid-row: 2;
}

.host-img {
    grid-column: 2;
    object-fit: contain;
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.general-benefits{
    padding-top: 32px;
    padding-bottom: 32px;
}

.benefit{
    justify-content: start;
    align-items: center;
}

.benefit:not(:last-child){
    margin-block-end: 1rem;
}

.b-icon{
    align-self: baseline;
    margin-inline-end: 1rem;
}

.benefit h4{
    margin: 0px 0px 4px;
}

.benefit p{
    margin:0px;
    color: #717171;
    font-size: 14px;
}

.summary {
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 24px;
    width: 100%;
    margin:0px;
}

.summary p {
    margin: 0px;
}

.sleep-general {
    border-top: 1px solid #ddd;
    padding: rem(35px) 0px;
}

.sleep-general h2 {
    margin: 0;
}

.sleep-title {
    padding: 0px 0px 24px;
}

.stay-sleep {
    width: 45%;
}

.sleep {
    width: 330px;
    height: 200px;;
    object-fit: cover;
    border-radius: 8px;
}

.amenities-container {
    padding: rem(35px) 0px;
}



.amenity{
    align-items: center;
    padding: 0px 0px 8px;
}

.amenity{
    margin: 0px 0px 16px;
}

.a-icon{
    margin-inline-end: 1rem;
    
}

.more-modal{
    cursor: pointer;
    border: 0.2px solid #222;
    border-radius: 8px;
    font-size: 16px;
    color: #222;
    background-color: #fff;
    height: 45px;
    width: 200px;
    text-align: center;
    font-family: CerealBold;
}



.amenities-modal {
    transition:all .5s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgb(202, 198, 198);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    z-index: 1;
    margin: 8px 0px 0px;
}

.modal-btn {
    display: inline-block;
    padding: 5px 5px 5px;
}



.modal-btn:hover{
    background-color: #f7f0f0;
    border-radius: 50%;
}

.modal-area {
    height: 320px;
    overflow-y: auto;
    padding: 10px 10px 10px;
}

.amenities-modal h2 {
    font-size: 22px;
    display: flex;
    margin: 0;
    padding: 0px 16px 0px;
}

body.modal-open {
    overflow: hidden;
}

.hidden {
    display: none;
}

.details-calendar{
    padding: rem(35px) 0px;
}

