.user-msg {
    color:rgb(44, 42, 42);
    padding: 14px;
    font-size: 1em;
    font-weight: 600;
    font-family: CerealLight;
    position: fixed;
    // top:0;
    bottom: 0;
    right:0;
    border: 1px solid #cac6c6;
    box-shadow: 0 1px 12px rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    height: max-content;
}
.user-msg button {
    float:right;
    border:0;
    border-radius: 50%;
    align-self: baseline;
    margin-left: 3px;
    // background-color: rgb(179, 175, 175);
}

.user-msg.success {
    background-color: #fff;
}
.user-msg.danger {
    background-color: #fff;

}


