.explore-page{
    padding: 0 rem(70px);
    border-top: 0.5px solid #ddddddba;
}


.list-container {
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(258px,1fr));
    -moz-column-gap: 24px;
    column-gap: 24px;
    // row-gap: 40px;
    padding-top: 16px;
    .explore-card-stay {
        position: relative;
        cursor: pointer;
        margin-bottom: 92px;
    }
    .explore-card-image {
       border-radius: 12px;
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    li{
        list-style-type: none;
    }
    .stay-details{
        height: 100%;
        width: 100%;
    }
}

.txt-explore-page{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif ;
    border-bottom: 0.5px solid #ddddddba;
    font-size: 12px;
    font-weight: normal ;
    .small-txt-exp-page{
        margin:15px
    }
}

.filter-sort-line{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #393939;
    display: flex;
    justify-content: space-between;
    margin: 15px 80px;
    align-items: center;

    .sort{
        display: flex;
    }
    .filters{
        width:80%;
        display: flex;
    }

    .filter-btn{
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
        background-color: #FFFFFF;
        outline: none;
        margin: 0px 4px;
        border-color: #DDDDDD;
        border-radius: 30px;
        color: #222222;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        position: relative;
        padding: 12px 22px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;

        &.is-active {
            border: 1px solid rgb(34, 34, 34) ;
            transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color ;
            transition-duration: .05s ;
            transition-timing-function: ease-in-out ;
            background-color: rgb(247, 247, 247) ;
            color: rgb(34, 34, 34) ;
        }
    }
    span{
        color: #ddddddba;
        font-size:20px;
        font-weight: 200;
    }
}

.stay-details{
    // font-family: CerealMedium, sans-serif;
    font-family: 'CerealLight';
    // font-family: 'CerealBook';
    font-size: 16px;
    font-weight: 300;
    .line1{
        font-family: 'CerealLight';
        display: flex;
        color: #393939;
        justify-content: flex-start;
        margin-top: 5px;
        align-items: center;
        .rank{
            font-size: 14px;
            margin: 2px;
        }
        .review-count{
            color: #868686;
            font-size: 14px;
            font-weight: 100;
            margin: 1px;

        }
       
    }
    .black-solid-txt{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin-top: 3px;
        font-weight: 300;
        color: black;
    }
    .line4{
        display: flex;
    }
    .black-bold-txt{
        font-family: 'CerealMedium';
        color:black;
        margin: 2px;
        font-size: 15px;

    }   
}