.home-container{
   padding-left: 80px;
   padding-right: 80px;
   h1{
       font-size: 33px;
       margin-top: 100px;
   }
   .ins-image{
       border-radius: 13px;
       cursor: pointer;
   }


}





.main-container {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    min-height: 100vh;
    background-color: black;
    justify-items: center;
    align-content: center;
    margin-bottom: 100px;
    // position: relative;

    > * {
        grid-column: 2;
        
    }

    // > *.full {
    //     grid-column: 1 / -1;
    // }

    .pic {
        width: 100%;
        border-radius: 10px;
        margin-top: 170px;
        position: relative;
        padding-bottom: 93px;
        
    }

    .header-txt-on-banner {
        font-size: rem(38px);
        position: absolute;
        top: 87vh;
        color: $clr6;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        z-index: 1;
        font-weight: 400;
    }

    .btn-flexible {
        padding: 16px 32px;
        position: absolute;
        top: 97vh;
        left: 45%;
        cursor: pointer;
        width: auto;
        font-size: 16px;
        border-radius: 1000px;
        border: 1px solid #000;
        background: #fff;
        z-index: 5;

    }

    .btn-flexible span {
        -webkit-text-fill-color: transparent !important;
        background: linear-gradient(90deg, hsl(283, 99%, 31%) 0%, #C6017E 135.12%) !important;
        -webkit-background-clip: text !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        font-size: rem(15px);
        font-weight: 600 !important;
        padding: 0 2px !important;
        line-height: inherit !important;
        max-height: 120px !important
    }
}

.card-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 20px;
    gap: 20px;
    h2{
        font-size: 1.17em;
    }

    > * {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        // &::before {
        //     display: block;
        //     content: "";
        //     width: 100%;
        //     padding-top: (1 / 1) * 100%;
        // }
        // > * {
        //     // position: absolute;
        //     // top: 0;
        //     // left: 0;
        //     // right: 0;
        //     // bottom: 0;
        // }

        > img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 13px;

        }
    }
}
.card-stay {
    position: relative;

    .cat-tag {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        margin-top: -40px;
        color: $clr6;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        font-size: rem(40px);
        z-index: 1;
    }

    .cat-image {
        // mix-blend-mode: multiply;
        // filter: grayscale(1);
    }
}


.banner {
    // position: relative;
    margin-top: 70px;



    .banner h1 {
        font-family: CerealBook, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 33px;
        // letter-spacing: -.02em;
        // color: #fff;
        // position: absolute;
    }

    .title-become-host{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        font-size: 50px;
        letter-spacing: -.02em;
        color: $clr7;
        position: absolute;
    }
    
    .banner-header {
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        color:white;
        position: absolute;
        font-family: circular;
        font-size: 40px;
        margin-top: 50px;
        margin-left: 30px;
        max-width: 500px;
    }

    .banner-txt-botton {
        font-family: cursive !important;
        color:$clr7;
        position: absolute;
        font-family: circular;
        font-size: 35px;
        margin-top: 480px;
        font-weight: 100;
        margin-left: 30px;
        color: white;
        span{
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            font-size: 20px;
        }
    }

    .learn-btn {
        cursor: pointer;
        position: absolute;
        color: #222;
        margin-top: 200px;
        font-size: 20px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        box-shadow: 0 2px 2px rgb(0 0 0 / 6%);
        border: 1px solid rgba(88, 88, 88, 0.2196078431);
        background-color: #fff;
        padding-top: 16px;
        padding-right: 18px;
        padding-bottom: 16px;
        padding-left: 18px;
        border-radius: 8px;
        border: none;
        margin-left: 120px;
    }

     .banner-host-img {
        height: 550px;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(black, .8) 0%, rgba(black, 0) 100%), url(../../img/become_a_host.jpeg);
        background-position: center;
        background-size: cover;
    }

}

@media only screen and (max-width: 650px)  {
    .main-container { 
        display: block;
        min-height: 106vh;
        background-color: black;
        justify-items: center;
        align-content: center;
        margin-bottom: 100px;
        .pic{
            visibility: hidden;
            margin: 0px;
            padding: 0px;

        }
        .mobile-pic {
            display: block;
            background-size: cover;
            position: relative;
            margin: 0px;
            padding: 0px;
            top: -196px;
            height: 90vh;
            background-image: url("https://a0.muscache.com/im/pictures/53e51dcb-8fad-4ce8-b61c-8a7a369267bf.jpg?im_w=1200");
            background-position: center;
        }
        .header-txt-on-banner {
            font-size: 24px;
            position: absolute;
            top: 71vh;
            color: #fff;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
            z-index: 1;
            font-weight: 400;
            text-align: center;
            width: 100%;
        }
        .btn-flexible{
            padding: 16px 32px;
            position: absolute;
            top: 83vh;
            left: 30%;
            cursor: pointer;
            width: auto;
            font-size: 16px;
            border-radius: 1000px;
            border: 1px solid #000;
            background: #fff;
            z-index: 5;

        }
  
    }
  }


  @media only screen and (max-width: 650px)  {
    .main-container { 
        display: block;
        padding: 0px 20px;
        min-height: 100vh;
        background-color: black;
        justify-items: center;
        align-content: center;
        margin-bottom: 100px;
        .pic {
            border-radius: 10px;
            position: relative;
            height: 250px;
            margin: 0px;
            padding: 0px;
            top: 144px;
        }
        .header-txt-on-banner {
            font-size: 22px;
            position: absolute;
            top: 71vh;
            color: #fff;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
            z-index: 1;
            font-weight: 400;
            padding: 0px 20px;
        }
        .btn-flexible{
            padding: 16px 32px;
            position: absolute;
            top: 83vh;
            left: 30%;
            cursor: pointer;
            width: auto;
            font-size: 16px;
            border-radius: 1000px;
            border: 1px solid #000;
            background: #fff;
            z-index: 5;

        }
  
    }
  }