.details-container{
    background-color: rgb(209, 165, 106);
}

.stay-details {
    // padding: 20px;
    background-color: #ffffff;
}

.stay-details h1{
    color: #222;
    font-family: CerealBook, sans-serif;
}

.gallery{
    padding:10px;
    margin-top: 5px;
}
.stay-info-container{
    border-bottom: 1px solid #ddd;

}