html{
    scroll-behavior: smooth;
}

.ag:link, .ag:visited,  .ag:hover, .ag:active
{
    color: #717171;
    text-decoration: none;
}
.ab:link, .ab:visited,  .ab:hover, .ab:active
{
    color: #252525;
    font-family: CerealBold;
    font-weight: 0.5em;
    text-decoration: none;
}

.details-container{
    padding: 0 rem(80px);
    background-color: #ffffff;
    display: grid;
    grid-column: 2;
    // margin-top: rem(10px);
    line-break: strict;
}

.stay-header{
    padding: rem(24px) 0px 0px;
}

.details-btn{
    cursor:pointer;
    font-family: CerealBook;
    position: relative;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    border-radius: 0px;
    outline: none;
    transition: box-shadow 0.2s ease 0s;
    background: transparent;
    color: inherit;
    display: block;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    text-align: inherit;
    height: 100%;
    width: 100%;
}

.stay-name{
    color: inherit;
    font-family: CerealMedium, sans-serif;
    font-size: 1.5em;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
}

.general-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: CerealBook;
    font-size: rem(14px);
}

.mainName-info{
    
    margin: rem(4px) 0px 0px;
    display: flex;
    flex-wrap:wrap;
}

.dot {
    vertical-align: top;
    color: rgb(113, 113, 113);
    font-family: circular;
    font-weight: 400;
    // margin: 8px 8px 0px;
    margin: 8px 8px;
}
.details-gallery{
    align-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,minmax(180px,1fr));
    grid-template-rows: 160px 160px;
    grid-gap: 8px;
    gap: 8px;
    padding: rem(24px) 0px 0px;
}

.details-gallery :first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.details-gallery :nth-child(3) {
    border-top-right-radius: 13px;
}

.details-gallery :nth-child(5) {
    border-bottom-right-radius: 13px;
}

.details-gallery img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stay-info-container{
    border-bottom: 1px solid #ddd;

}

.reviews-container {
    border-bottom: 1px solid #ddd;
}

.map-container {
    padding: 48px 0px;
    border-bottom: 1px solid #ddd;
    // padding-top: 48px;
    // padding-bottom: 48px;
}

.g{
    color: #717171;
}

