.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: $clr6;
    height: 10vh;
    padding: 0 2rem;
    margin-bottom: 2rem;
    margin: 0px;

    .main-nav a {
        text-decoration: none;
        color: inherit;
    }
    .main-nav > *:not(:last-child) {
        margin-inline-end: 1rem;
    }
}
