.main-filter-container {

    input {
        margin: 0px;
        padding: 0px;
    }

    .max-filter {
        // position: absolute;
        // left: 45%;
        // transform: translate(-50%, -75%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        background-color: rgb(255, 255, 255);
        opacity: 1;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(161, 161, 161, 0.22);
        border-image: initial;
        border-radius: 40px;
        padding: 0px 10px 0px 0px;
        // margin: 40px;
    }

    .max-filter label:first-child {
        padding-inline-start: 30px;
    }

    .max-filter label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

        height: 100%;
        cursor: pointer;
        padding: 14px 24px;
        border-radius: 40px;
        transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    }

    .max-filter label:hover {
        border-radius: 40px;
        background-color: #ebebeb;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

    }

    .max-filter label input {
        font-size: 14px;
        line-height: 15px;
        height: 15px;
        background-color: transparent;
        cursor: pointer;
        color: rgb(113, 113, 113);
        font-family: airbnb-book, sans-serif;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        outline: none;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

    }

    .max-filter label span {
        color: rgb(0, 0, 0);
        font-family: airbnb-bold;
        font-size: 0.6875rem;
        line-height: 0.875rem;
        cursor: pointer;
        padding-bottom: 5px;
        text-align: start;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

    }

    .max-filter button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 56, 92);
        height: 47px;
        width: 47px;
        color: rgb(255, 255, 255);
        font-size: 0.875rem;
        border-radius: 50%;
        cursor: pointer;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

    }

    .min-filter {
        position: absolute;
        left: 50%;
        padding: 0px 10px 0px 0px;
        margin-top: 45px;
        height: 47px;
        width: 300px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        border: 1px solid rgba(88,88,88,.2196078431372549);
        font-size: .75rem;
        border-radius: 40px;
        background-color: #fff;
        box-shadow: 0 2px 2px rgb(0 0 0 / 6%);
        -webkit-transform: translate(-50%,-140%);
        transform: translate(-50%,-140%);
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

        opacity: 1;

        .min-filter-title{
            padding-inline-start: 25px;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;


        }

        .min-filter-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 56, 92);
            height: 38px;
            width: 38px;
            color: rgb(255, 255, 255);
            font-size: 0.875rem;
            border-radius: 50%;
            cursor: pointer;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

        }
    }
}

.dynamic-modal {
    position: absolute;
    z-index: 5;
    top: 81px;
    left: 5px;

    .filter-guest-modal {
        z-index: 5;
        position: absolute;
        -webkit-transform: translateX(-12.5%);
        transform: translateX(-12.5%);
        padding: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        color: #484848;
        background-color: #fff;
        border-radius: 13px;
        width: 400px;
        font-size: 16px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        text-transform: capitalize;
        box-shadow: 0 3px 8px 0 rgb(0 0 0 / 18%);
    }

    .modal-label:not(:last-of-type) {
        border-bottom: 1px solid #c7c7c7;
    }

    .modal-label {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width: 100%;
        grid-gap: 10px;
        gap: 10px;
        padding: 20px;
    }

    .modal-label div:first-of-type {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;

    }
    .dynamic-modal .filter-guest-modal .modal-label div {
        display: -webkit-flex;
        display: flex;
    }

    .modal-label span {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: inherit;
        font-weight: unset;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

        margin-left: 5px;
        margin-right: 5px;
    }

    .modal-label div:last-of-type button {
        margin: 0;
        padding: 0;
        color: #484848;
        font-size: 1.125rem;
        border: 1px solid #717171;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;

        // display: -webkit-flex;
        // display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}
