.stay-info-container{
    // margin-top: rem(15px);
    padding: 40px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // width: 1120px;

}

.summary-info {
    width: 60%;
    // flex-basis: 70%;
    // display: block;
    
}

.top-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: 40px 0px 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.top-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-info h2{
    margin: 0px;
    text-transform: capitalize;
    grid-column: 1;
    grid-row: 1;
    font-family: CerealLight;
}

.place-info {
    grid-column: 1;
    grid-row: 2;
}

.host-img {
    grid-column: 2;
    // margin-top: rem(7px);
    object-fit: contain;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.summary {
    border-bottom: 1px solid #ddd;
}

.sleep-general {
    border-bottom: 1px solid #ddd;
    padding: rem(35px) 0px;
}

.sleep-general h2 {
    margin: 0;
}

.sleep-title {
    padding: 0px 0px 24px;
}

.stay-sleep {
    width: 45%;
    
}

.sleep {
    width: 100%;
    height: 200px;;
    object-fit: cover;
    border-radius: 8px;
}

.amenities-container {
    border-bottom: 1px solid #ddd;
    padding: rem(35px) 0px;
}

.amenity{
    list-style: none;
}

.more-amenities{
    cursor: pointer;
}

.amenities-modal {
    transition:all .5s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 1px solid rgb(202, 198, 198);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body.modal-open {
    overflow: hidden;
}

.hidden {
    display: none;
}