.stay-info-container{
    margin-top: rem(20px);
    display: flex;

}

.summery-info {
    flex-basis: 70%;
    display: block;
}

.reserve-info{
    flex-basis: 30%;
    display: block;
    margin-left: 80px;
}

.reserve-box{
    border-radius: 10px;

}